header {
    font-style: italic;
    font-size: x-large;
    text-align: center;
    background-color: dodgerblue;
    color: black;
}

image {
    image-resolution: snap;
}

.paragragh {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightside {
    text-align: right;
}

.navcolor {
    background-color: cyan;
}

.tablestyle {
    margin-left: auto;
    margin-right: auto;
}

.division {
    padding: 4px;
}
